{%load static %}
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>GIPHANTIE</title>
  <!--<link rel="stylesheet" type="text/css" href="CSS/registro.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 </head>
<body>
  <br>
  <div class="card" style="width: 45%; border-color:#ff0000; text-align: center;float: center; right: -25%">
   <form action="/action_page.php">
   <div class="card-block">
  </div>
     <div class="fourm-group" id="formulario">
      <font size="32" color=ff0000 face="SEGA LOGO FONT">GIPHANTIE
      </font>
      </div>
      <div class="form-group">
       <input type="text" placeholder="Usuario">
     </div>
     <div class="form-group">
       <input type="password" placeholder="Contraseña">
     </div>
     <div class="form-group">
        <input type="text" placeholder="Nombre">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Correo electronico">
       </div>
       <div class="form-group">
     </form>
      </div>
   </div>
   <br>
  <div class="card" style="width: 45%; border-color:#ff0000; text-align: center;float: center; right: -25%" id="botones">
    <br>
    <center>
      <br>
    <button type="button" class="btn btn-outline-danger" style="width: 40%; right:-25%;float:center">Registrate</button><br>
    ¿tienes una cuenta?<br>
    <a href="https://www.google.com">Entrar</a><br><br>
  </div> <br>
   <center>
    <div class="form-group" id="imagenes">
     <img src="Imagenes/app-store-badge-es_small.png" id="Img1" style="height: 40px; width: auto; right: -40%"><br>
     <img src="Imagenes/cuaderno-de-campo-google-play.png" id="Img2" style="height: 45px; width: auto"><br>
    </div>
    <p><h2>The New Social network.</h2></p>
    <p><h3><u>Also note that the default width of a text field is 20 characters.</u></h3></p>
    <br><br><br><br><br><br>
   <a target="_blank" href="https://www.facebook.com/juanpablo.correalrodriguez"> Facebook</a>
   <a href="mailto:Jpcorreal@hotmail.com" title="enviar correo a Juan Pablo Correal">Enviar Mail</a>
   </center>
</body>
</html>
